@tailwind base;
@tailwind components;
@tailwind utilities;


.two-line-paragraph{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-wrap: break-word;
    overflow: hidden;
  }
  
  .three-line-paragraph{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-wrap: break-word;
    overflow: hidden;
  }